<%- include layouts/email_header.ejs %>         

<div class="row intro-section">
	<div class="col-md-8 col-md-push-2">
		<h3 class="blue-text">Hello, first_name!</h3>
		
		<p>Your OpinionPlus account has been activated. Use your login credentials to log in and get started to get the best opinion for your medical needs, because Your Health Deserves the Best Opinion.</p>
		<br>
		<a href="#" class="blue-btn">log in to your account</a>
		<br><br>
		<!-- <p>Because your health deserves the best opinion.</p> -->
		<p>From,</p>
		<p>The OpinionPlus Team</p>
		<div class="blue-border"></div>
		<p class="text-center">Get in touch if you have any questions or comments.<br>
		Feel free to contact us 24/7. We are here to help.</p>
		<h3 class="text-center"><a href="#" class="blue-text">contact@opinionplus.com</a></h3>
	</div>
</div>

<%- include layouts/email_footer.ejs %>         
