<!-- features section -->
<div class="row features-section">
	<div class="col-md-8 col-md-push-2 padding-left-no">
		<div class="col-sm-8 padding-left-no">
			<h2>What can you do with OpinionPlus?</h2>
			<div class="row">
			<div class="col-sm-1 col-xs-2">
				<img src="../email_assets/images/medical.png" height="30px">
			</div>
			<div class="col-sm-11 col-xs-10">
				<p>Access clinical content, read and encourage your family members to read about various different medical conditions.</p>
			</div>
			</div>

			<div class="row">
			<div class="col-sm-1 col-xs-2">
				<img src="../email_assets/images/test_results.png" height="30px">
			</div>
			<div class="col-sm-11 col-xs-10">
				<p>Seek an opinion by providing current medical information such as past history, current medications and relevant test results.</p>
			</div>
			</div>

			<div class="row">
			<div class="col-sm-1 col-xs-2">
				<img src="../email_assets/images/treatment.png" height="30px">
			</div>
			<div class="col-sm-11 col-xs-10">
				<p>After reviewing the patient's information, a highly skilled physician will recommend, when necessary, further evaluations or visits to other specialists and will provide further opinion on the treatment.</p>
			</div>
			</div>
			<div class="col-sm-10 col-sm-push-2">
				<ul class="list-inline">
					<li><a href="#"><img src="../email_assets/images/app_store_button.png" height="50px"></a></li>
					<li><a href="#"><img src="../email_assets/images/google_play_button.png" height="50px"></a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-4 center-block mobile-img-block padding-left-no">
			<img src="../email_assets/images/iphone.png" height="550px">
		</div>
	</div>
</div>
<!-- end features section -->

<!-- contact section -->
<div class="row contact-section">
	<div class="col-md-8 col-md-push-2">
		<br>
		<div class="blue-border"></div>
		<p class="text-center">You are receving this newsletter because <br>you subscribde to our mailing list.</p>
		<p class="dark-blue-text text-center"><a href="#">Unsubscribe |</a><a href="#"> Visit opinionplus.com</a></p><br>
		<ul class="list-inline text-center">
			<li><a href="#"><img src="../email_assets/images/facebook.png"></a></li>
			<li><a href="#"><img src="../email_assets/images/twitter.png"></a></li>
			<li><a href="#"><img src="../email_assets/images/google_plus.png"></a></li>
			<li><a href="#"><img src="../email_assets/images/instagram.png"></a></li>
		</ul><br>
	</div>
</div>
<!-- end contact section -->

<!-- footer -->
<footer class="row">
	<div class="container">
		<div class="col-sm-6">
			<a href="#"><img src="../email_assets/images/footer_logo.png"></a>
		</div>
		<div class="col-sm-6 text-right">
			Copyright &copy; 2017 Opinion. All Right Reserved
		</div>
	</div>
	
</footer>
<!-- end footer -->

	</body>
</html>