<!-- 
Created_by: Aniket Meshram
Created_on: 27 May 2017
Updated_on: 
 -->
<div class="footer">
  <div class="copyright">
    <p class="pull-left sm-pull-reset">
      <span>Copyright <span class="copyright">©</span>2017</span>
      <span>Eeshana Solutions</span>.
      <span>All rights reserved. </span>
    </p>
    <p class="pull-right sm-pull-reset">
      <span><a href="#" class="m-r-10"></a> | <a href="#" class="m-l-10 m-r-10"></a> | <a href="#" class="m-l-10"></a></span>
    </p>
  </div>
</div>


